VITE_SUPABASE_URL=https://deoqpvipyvrjdomgmxwy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlb3FwdmlweXZyamRvbWdteHd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NTQ1MzYsImV4cCI6MjA5NDQzMDUzNn0.2ihelJlu0nl8mMFt4HwWqYeMUUJLUneZfd0lgzy5a7w
VITE_API_URL=http://localhost:8000
